= title "Inbox"

%div#projectHeader
  %div.centeredWrap.group
    %header.group
      %hgroup.left
        %h1
          Inbox
        
%div#messageInbox.centeredWrap

  - if current_user.sponsor?
    %ul#messageOptions.group
      %li
        = link_to "Compose message", "/messages/new"
  
  - if notice
    %p.notice
      = notice
  
  - if @messages.any?
    %ul#inbox
      - @messages.each do |message|
        %li.group{ :class => message.read == true ? "read" : "unread"}
          %a{ :href => "/messages/#{message.id}"}
            %span.author
              = truncate(message.message_author, :length => 26)
            %span.subject
              = message.message_subject
              %em
                = ' - ' + truncate(message.message_content, :length => 55)
            
            %span.date
              = message.created_at.strftime("%m/%d/%Y")
          =# link_to "Delete", "/messages/#{message.id}", :method => "delete"
  
  - else
    %p#empty
      Inbox is currently empty
        
