= title "Message"

%div#projectHeader
  %div.centeredWrap.group
    %header.group
      %hgroup.left
        %h1
          Inbox        

%div.centeredWrap

  %ul#messageOptions.group
    %li#inbox
      %a{ :href => "/messages"}
        &laquo; Inbox
    %li#delete
      = link_to "Delete", "/messages/#{@message.id}", :method => "delete" if @message.message_type != "request"
  
  %div#messageHeader
    %p.group
      %span.label
        From:
      %span.content
        = @message.message_author
    
    %p.group
      %span.label
        Subject:
      %span.content
        = @message.message_subject
        
    
  = simple_format(@message.message_content)
  
  - if @message.message_type == "request"
    %p
      = link_to "Approve Member", approve_pending_membership_user_path(@message.message_payload, :message => @message.id)
      |
      = link_to "Deny Member", deny_pending_membership_user_path(@message.message_payload, :message => @message.id)


