= title "Message"

%div#projectHeader
  %div.centeredWrap.group
    %header.group
      %hgroup.left
        %h1
          Inbox        

%div.centeredWrap

  %ul#messageOptions.group
    %li#inbox
      %a{ :href => "/messages"}
        &laquo; Inbox
    %li#delete
      = link_to "Delete", "/messages/#{@message.id}", :method => "delete"
  
  %div#messageHeader
    %p.group
      %span.label
        From:
      %span.content
        = @message.message_author
    
    %p.group
      %span.label
        Subject:
      %span.content
        = @message.message_subject
        
    
  = simple_format(@message.message_content)


