= title "Edit Comment"

%h2
  Comment
  
= form_for @comment, :url => "/groups/#{@group.permalink}/projects/#{@project.name}/comments/#{@comment.id.to_s}", :method => "put" do |f|
  
  = errors_for(@comment, "Opps, there were some problems updating your comment").html_safe
            
  %p.group
    = f.label :comment
    = f.text_area :comment
    
  %button.submit{:type => 'submit'}
    Update Comment