#block-text.block
  .content
    %h2.title Dashboard
    .inner.group
      
      %div.dashBox
        %h3 Pending
        
        - if @group_requests == 0 && @grant_requests == 0
          %p= "No pending requests"
        - if @group_requests > 0
          %a{:href => "/admin/requests"}
            %strong="#{@group_requests}"
            Group Requests
        - if @grant_requests > 0
          %a{:href => "/admin/grants/pending"}
            %strong= "#{@grant_requests}"
            Grant Applications
            
      %div.dashBox
        %h3 Group Stats
        
        %p
          %strong= @groups
          Total Groups
          
      %div.dashBox
        %h3 Project Stats

        %p
          %strong= @projects
          Total Projects
          