%p.group
  = f.label :picture
  = image_tag(@group.profile_photo_url(:thumb), :class => "left") if @group.profile_photo_filename?
  - if @group.profile_photo_filename?
    %span.avatarOptions
      = link_to "Change image", "#", :class => "avatarOption", :id => "changeAvatar" if @group.profile_photo_filename?
      = link_to "Delete this image", "/groups/#{@group.permalink}/delete_photo", :class => "avatarOption" if @group.profile_photo_filename?

  %span.avatarUpload  
    = f.file_field :profile_photo
    
%p.group
  = f.label :name
  = f.text_field :display_name

%p.group
  = f.label :city, :class => "required"
  = f.text_field :city

%p.group
  = f.label :organization, :class => "required"
  = f.text_field :organization

%p.group
  = f.label :description
  = f.text_area :description