%section#groupRecentProjects.group.leftCol
      
  %article.article
  
    %header.group
      %h2.left
        Recent Projects
    
      = link_to "view all", "/groups/#{@group.permalink}/projects", :class => "right groupActionButton"
  
    - if @recent_projects.size > 0
      %ul#recentProjects
        - i = 0
        - @recent_projects.each do |project|
          - if i < 3
            %li.group
              %div.header.group
                %h3.left
                  = link_to truncate(h(project.display_name), :length => 40), "/groups/#{project.group.permalink}/projects/#{project.name}"
                %span.right
                  = project.end_date.strftime('%b %Y')
          
              %div.side.left
                = project_photo(project)
                %span
                  %strong
                    Location:
                  = project.location
                %span
                  %strong
                    Focus:
                  = project.focus
              
              %div.about.right
                = simple_format(truncate(project.goal, :length => 450, :seperator => ' '))
            - i += 1
              
    - else
      %p
        There are currently no completed projects.