%div#groupSidebar

  %div.inner

    %div#groupLogo
      = image_tag(@group.profile_photo_url(:large))

    = render :partial => "group_action_button"

    %ul#groupVitals
      %li
        %strong
          Established: 
        = @group.created_at.strftime("%b, %Y")

      %li
        %strong
          Members: 
        = @group.users.active.count

      %li
        %strong
          City: 
        = @group.city

      %li
        %strong
          Organization: 
        = @group.organization

      %li
        %strong
          Region: 
        = @group.area.capitalize

    = render :partial => "member_list"