%div#groupSidebar

  %div.inner

    %div#groupLogo
      %span
        = image_tag(@group.profile.url(:large))

    = render :partial => "group_action_button"

    %ul#groupVitals
      %li.group
        %strong Established: 
        %span= @group.created_at.strftime("%b, %Y")
        
      %li.group
        %strong City: 
        %span= @group.city

      %li.group
        %strong Organization: 
        %span= @group.organization

      %li.group
        %strong Region: 
        %span= @group.area.capitalize
          
      %li.group
        %strong Members: 
        %span= @group.users.active.count

    = render :partial => "member_list"