%ul#actions.group
  %li
    = link_to "projects", "/groups/#{@group.permalink}/projects"
  %li
    = link_to "admin", "/groups/#{@group.permalink}/edit"
  - if @group.users.pending.count > 0
    %li
      = link_to "pending members", "/groups/#{@group.permalink}/pending_memberships"
    
  