= title "Invite Member"

%div#membershipRequestForm
  
  %h2.pageTitle
    Invite a friend to join
    
  = form_for @user, :url => send_invite_group_url(@group) do |u|
      
    = errors_for(@user, "Opps, there were some problems with your invite").html_safe
          
    %p.group
      = u.label :email, :class => "required"
      = u.text_field :email
    
    %button.submit{:type => 'submit'}
      Send Invite
      
    