= title "Edit Group"

%div#projectHeader
  %div.centeredWrap.group
    %header.group
      %hgroup.left
        %h1
          Edit Group

%div.centeredWrap.group        
  
  %div#groupProperties.left
  
    = form_for @group, :url => "/groups/#{@group.permalink}", :html => { :multipart => true}, :method => "put" do |f|
  
      = errors_for(@group, "Oops, there were some problems with your group information").html_safe

      = render 'form', :f => f
    
      %button.submit{:type => 'submit'}
        Update


  %div#sponsorProperties.right

    %h2.sectionTitle
      Group Sponsors
    
    %ul
      %li#adultSponsor.group
        = image_tag(@adult_sponsor.avatar_url(:thumb))
        %div.group
          %strong
            = @adult_sponsor.name
            - if current_user.adult_sponsor?
              %em
                (you)
          %em
            Adult Sponsor
    
      %li#youthSponsor.group
        - if @youth_sponsor
          = image_tag(@youth_sponsor.avatar_url(:thumb))
          %div.group
            %strong
              = @youth_sponsor.name
              -if current_user.adult_sponsor?
                %em
                  = link_to "revoke", {:controller => :users, :action => :revoke_youth_sponsor, :permalink => @group.permalink, :user_id => @youth_sponsor.id.to_s}, :method => :put
              - elsif current_user.youth_sponsor?
                %em
                  (you)
            %em
              Youth Sponsor
      
        - else
          %div.group
            %strong
              = link_to "Assign a youth sponsor", "/groups/#{@group.permalink}/edit/choose_youth_sponsor"
            %em
              Youth Sponsor
       
      