= title "Changing How Texans View Tobacco Use"

%div#projectHeader
  %div#aboveFold.centeredWrap.group
    %h2
      Changing How Texans View Tobacco Use 

    %p
      The 
      %strong
        Say What! Movement
      was created and designed by more than 250 young people from across Texas to link to all high school groups in Texas who are actively working to eliminate tobacco from their schools and communities. 

    %p
      By linking our efforts we have a unified voice to create change across the state.

    - if current_user && !current_user.admin?
      %a{:href => "/groups/#{current_user.group.permalink}/invite"}
        Invite a friend to the movement!
    - else
      %a{:href => "/groups/new"}
        Join the Say What! Movement!
      

%div.centeredWrap.group
  
  %div#landingProjects.left
    %h3
      Group Projects
    
    %ul
      - i = 0
      - @projects.each do |project|
        - if i < 3
          %li
            = link_to image_tag(project.profile_photo, :width => 200, :height => 100), "/groups/#{project.group_permalink}/projects/#{project.project_permalink}"
            = link_to truncate(project.project_name, :length => 35), "/groups/#{project.group_permalink}/projects/#{project.project_permalink}", :class => "projectName"
            = link_to project.group_name, "/groups/#{project.group_permalink}", :class => "projectGroup"
          - i += 1
        
    
  %div#landingDesc.right
  
    %iframe{:src => "http://player.vimeo.com/video/22077854?title=0&amp;byline=0&amp;portrait=0&amp;color=c9ff23", :width => "550", :height => "309", :frameborder => "0"}
  
    %h3
      Who Is Involved?
      
    %p
      %strong S
      tudents (high school age) changing social norms about tobacco use in Texas
      
    %p
      %strong A
      dults supporting student efforts
      
    %p
      %strong Y
      outh (younger students) preparing to make the choice not to use tobacco
      
    %h3
      What Are We Doing?
      
    %p
      %strong W
      orking
      
    %p
      %strong H
      ard
      
    %p
      %strong A
      gainst
      
    %p
      %strong T
      obacco!
  
  
  
      
  