= title "Groups"
= description "The Say What! Movement was created and designed by more than 250 young people from across Texas to link to all high school groups in Texas who are actively working to eliminate tobacco from their schools and communities. By linking our efforts we have a unified voice to create change across the state."

%div#projectHeader
  %div.centeredWrap.group
    %header.group
      %hgroup.left
        %h1
          All Groups


%div#groupIndex.centeredWrap.group

  %ul.projectsList.group    
    - @groups.each do |group|
      %li
        = link_to image_tag(group.profile.url(:small)), "/groups/#{group.permalink}"
        %strong
          = link_to truncate(group.display_name, :length => 50), "/groups/#{group.permalink}"