= title "Groups"

%div#projectHeader
  %div.centeredWrap.group
    %header.group
      %hgroup.left
        %h1
          All Groups


%div#groupIndex.centeredWrap.group

  %ul.projectsList.group    
    - @groups.each do |group|
      %li
        = link_to image_tag(group.profile_photo_url(:small)), "/groups/#{group.permalink}"
        %strong
          = link_to group.display_name, "/groups/#{group.permalink}"