%div#groupRequestForm
  = form_for @group, :url => create_request_groups_url do |f|
  
    = errors_for(@group, "Opps, there were some problems with your group information").html_safe
    = errors_for(@user, "Opps, there were some problems with your sponsor information").html_safe
                
    %fieldset
      %legend
        Sponsor Information
       
      = f.fields_for :user do |u|
          
        %p.group
          = u.label :first_name
          = u.text_field :first_name
    
        %p.group
          = u.label :last_name
          = u.text_field :last_name
    
        %p.group
          = u.label :username
          = u.text_field :username
          
        %p.group
          = u.label :email
          = u.text_field :email
          
    %fieldset
      %legend
        Group Information
        
      %p.group
        = f.label :name
        = f.text_field :name
    
      %p.group
        = f.label :city
        = f.text_field :city
    
      %p.group
        = f.label :organization
        = f.text_field :organization
    
      %p.group
        = f.label :description
        = f.text_area :description
    
    %button.submit{:type => 'submit'}
      Submit Request
      
    