= title "Membership Request"

%div#projectHeader
  %div.centeredWrap.group
    %header.group
      %hgroup.left
        %h1
          Request To Join Group
          
%div#membershipRequestForm.centeredWrap.group  
      
  = form_for @user, :url => "/groups/#{@group.permalink}/create_membership_request", :method => "post" do |u|
      
    = errors_for(@user, "Opps, there were some problems with your information").html_safe
        
    %p.group            
      = u.label :first_name, :class => "required"
      = u.text_field :first_name
    
    %p.group
      = u.label :last_name, :class => "required"
      = u.text_field :last_name
          
    %p.group
      = u.label :email, :class => "required"
      = u.text_field :email
    
    %button.submit{:type => 'submit'}
      Submit Request
      
    