= title "Setup"

%div#projectHeader
  %div.centeredWrap.group
    %header.group
      %hgroup.left
        %h1 New Group Setup
          
%div.centeredWrap.group
  %h2 Set you group's URL:
    
  %p
    Choose a URL for your group's homepage. It must be unique and can't be changed.
    
  = form_for @group, :url => "/groups/#{@group.id}/set_permalink", :method => :put do |f|
    
    = errors_for(@group, "Oops, there were some problems setting your group's URL").html_safe
    
    %p.group
      %label{:for => "group_permalink"} Permalink URL
      %span
        http://txsaywhat.com/groups/
        = f.text_field :permalink, :value => ''
    
    %button.submit{:type => 'submit'}
      Continue