= title @group.display_name

%section#groupContent.group.leftCol
  
  %article
    %header
      %hgroup.group
        %h1.left
          = @group.display_name
      
        - if current_user && (current_user.role == "adult sponsor" || current_user.role == "youth sponsor")
          = link_to "edit", "/groups/#{@group.permalink}/edit", :class => "right" if current_user.group == @group
          
      %p
        = @group.organization
    
  %article        
    = raw(@group.description)
    
  %article
    
    %header.group
      %h2.left
        Upcoming Projects
      
      = link_to "View All", "/groups/#{@group.permalink}/projects", :class => "right"
    
    %ul#recentProjects
      - @group.projects.asc(:end_date).limit(2).each do |project|
        %li.group
          = image_tag(project.profile_photo_url(:small))
          %div.about
            %h3
              %a{:href => "/groups/#{@group.permalink}/projects/#{project.name}"}
                = project.display_name
            %p
              = project.goal
    
    
%div#groupSidebar.rightCol
  
  = image_tag(@group.profile_photo_url(:large), :id => "groupLogo")
  
  = render :partial => "group_action_button"
  
  %ul#groupVitals
    %li
      %strong
        Established: 
      = @group.created_at.to_s(:mdy)
      
    %li
      %strong
        Members: 
      = @group.users.active.count
    
    %li
      %strong
        City: 
      = @group.city
        
    %li
      %strong
        Organization: 
      = @group.organization
      
    %li
      %strong
        Region: 
      = @group.area.capitalize
  
  = render :partial => "member_list"
  