= title @group.display_name
= description @group.description

.row#group_profile
  %section.span10#profile
    = group_page_header(@group).html_safe

    #project_feed.media.cf
      - @projects.each do |project|
        .project
          %a{ href: group_project_path(@group, project) }= image_tag(project.profile_photo_url(:index))

    #page-sections.cf
      #activity_feed.section.wall.timeline
        %h2.heading Activity Feed

        = render :partial => "timeline/timeline", :locals => { timeline: @timeline, section: 'group', composer: true, composer_path: group_comments_path(@group) }

      #info_view.section.info{ style: "display:none;"}
        %h2.heading Group Info

        = render :partial => "info"

  %aside.span5.offset1
    .profile_photo.media.cf
      %a{ href: "#" }= image_tag(@group.profile_photo_url(:profile))

    - if current_user.group_id.blank?
      %p= link_to "Join This Group", user_path(current_user, group_id: @group.id, user: {}), method: 'put', :class => "btn info"

    = render :partial => "menu"