= title @group.display_name

%div#foldDown
  %section.group
    
    = render :partial => "group_sidebar", :group => @group
    
    %div#groupHeader.left
    
      %article.article
        %header
          %hgroup.group
            %h1.left
              = @group.display_name
    
            - if current_user && (current_user.role == "adult sponsor" || current_user.role == "youth sponsor")
              = link_to "edit", "/groups/#{@group.permalink}/edit", :class => "right groupActionButton" if current_user.group == @group
        
          %h3
            = @group.organization
        
        %article
          = simple_format(@group.description)
      
      
%section#lowerContent.group

  = render :partial => "group_recent_projects"

  
                
                
  
  