= title @group.display_name
= description @group.description

.row#group_profile
  %section.span10
    %hgroup
      %h1.heading= @group.display_name
      %h6= "#{@group.organization} / #{@group.city}, TX"

    #project_feed.media.cf
      .project
        %a{ href: "#" } <img class="thumbnail" src="http://placehold.it/170x118" alt="">
      .project
        %a{ href: "#" } <img class="thumbnail" src="http://placehold.it/170x118" alt="">
      .project
        %a{ href: "#" } <img class="thumbnail" src="http://placehold.it/170x118" alt="">

    #activity_feed.timeline
      %h2.heading Activity Feed

      = render :partial => "timeline/timeline", :locals => { timeline: @timeline, section: 'group', composer: true, composer_path: group_comments_path(@group) }

  %aside.span5.offset1
    .profile_photo.media.cf
      %a{ href: "#" } <img class="thumbnail" src="http://placehold.it/270x188" alt="">

    %ul#group_pages
      %li
        %a{ href: group_projects_path(@group) }
          = image_tag '181-hammer.png', width: 10
          %span Projects

    %p= @group.description