= title "Password"

%div#projectHeader
  %div.centeredWrap.group
    %header.group
      %hgroup.left
        %h1
          Change Your Password
          
      %div.options.right
        %a{ :href => "/settings/profile" }
          &laquo; Back To Your Profile

%div.centeredWrap.group
          
  - if notice 
    %p.notice
      = notice
        
  - if alert 
    %p.alert
      = alert
  
  = form_for @user, :url => update_password_user_url(@user) do |f|
  
    = errors_for(@user, "Oops, there were some problems updating your password").html_safe
    
    %p.group
      = f.label :new_password
      = f.password_field :password

    %p.group
      = f.label :password_confirmation
      = f.password_field :password_confirmation
    
    %button.submit{:type => 'submit'}
      Update