= title "Manage Grants"

%div#projectHeader
  %div.centeredWrap.group
    %header.group
      %hgroup.left
        %h1
          Admin        

%div.centeredWrap
  %h3 Pending Grant Applications
  - if @pending.size > 0
    %ul.group
      - @pending.each do |grant|
        %li= link_to grant.group_name, "/admin/grant/#{grant.id.to_s}"
  - else
    %p No Pending Applications
    
  %h3 Approved Grant Applications
  - if @approved.size > 0
    %ul.group
      - @approved.each do |grant|
        %li= link_to grant.group_name, "/admin/grant/#{grant.id.to_s}"
  - else
    %p No Approved Applications
    
    

