%div
  %h2
    Create a password:
    
  %p
    Create a password for your sponsor account.
      
  = form_for @user, :url => create_password_user_url(current_user), :method => :put do |f|
      
    = errors_for(@user, "Opps, there were some errors setting your password").html_safe
    
    %p.group
      Your username is:
      %strong
        = @user.username
      
    %p.group
      = f.label :password
      = f.text_field :password
        
    %p.group
      = f.label :password_confirmation
      = f.text_field :password_confirmation
        
    %button.submit{:type => 'submit'}
      Continue