= title "Setup"

%div#projectHeader
  %div.centeredWrap.group
    %header.group
      %hgroup.left
        %h1
          New Account Setup
%div.centeredWrap.group

  = form_for @user, :url => create_member_user_url(@user), :method => :put do |f|

    = errors_for(@user, "Oops, there were some errors creating your account").html_safe

    %p.group
      = f.label :password
      = f.password_field :password

    %p.group
      = f.label :password_confirmation
      = f.password_field :password_confirmation

    %button.submit{:type => 'submit'}
      Continue