= title "View Grant"

%div#about

  %article.group
  
    %div.text.left

      %h4 Group: 

      %p
        %strong= @grant.group_name

    - if @grant.status == false
      %div.button.right
        = link_to "Approve Grant", "/admin/grant/approve/#{@grant.id.to_s}", :method => "put"        
  
  %article

    %h4 Contacts:
    
    %p 
      %strong Adult Name:
      = @grant.adult_name
      
    %p 
      %strong Adult Phone:
      = @grant.adult_phone
      
    %p 
      %strong Adult Email:
      = @grant.adult_email
      
    %p 
      %strong Adult Mailing Address:
      = @grant.adult_address
      
    %p 
      %strong Youth Name:
      = @grant.youth_name
      
    %p 
      %strong Youth Email:
      = @grant.youth_email
      
    
  %article
  
    %h4 Project Info:
    
    %p
      %strong Project Description:
      %br
      = @grant.project_description
      
    %p
      %strong Project When:
      %br
      = @grant.project_when
      
    %p
      %strong Project Where:
      %br
      = @grant.project_where
      
    %p
      %strong Project Who:
      %br
      = @grant.project_who
      
    %p
      %strong Project Serve:
      %br
      = @grant.project_serve
      
    %p
      %strong Project Goals:
      %br
      = @grant.project_goals
      
  %article
  
    %h4 Funds
    
    %p
      %strong Funds Needed:
      %br
      = @grant.funds_need
      
  %article
  
    %h4 Partnerships
    
    %p
      %strong Community Partnerships:
      %br
      = @grant.community_partnerships
      
    %p
      %strong Community Resources:
      %br
      = @grant.community_resources