= title "Reset Password"

.row
  %section.span4.form-description
    %h2.heading Reset Password

    - if devise_mapping.registerable? && controller_name != 'registrations'
      %p= link_to "Sign up for a new account", new_registration_path(resource_name), :class => "btn success"

  %section.span11.offset1
    %fieldset
      %legend Say What! Login Form

      = form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f|

        = devise_error_messages!

        .clearfix
          = f.label :email
          .input
            = f.text_field :email, :class => "xlarge"
            %span.help-block What's your email address?

        .actions
          = f.submit "Send me reset password instructions", :class => "btn primary"