<%= title "Forgot Password" %>

<div id='projectHeader'> 
  <div class='centeredWrap group'> 
    <header class='group'> 
      <hgroup class='left'> 
        <h1>Forgot Your Password?</h1> 
      </hgroup> 
    </header> 
  </div> 
</div>
      
<div class='centeredWrap group' id='login'> 
<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
  <%= devise_error_messages! %>

  <p><%= f.label :email %><br />
  <%= f.text_field :email %></p>

  <p><%= f.submit "Send me reset password instructions" %></p>
<% end %>

<%= render :partial => "devise/shared/links" %>
</div>