%ul.projectsList.group    
  - projects.each do |project|
    %li
      = project_photo(project)
      %strong
        = link_to truncate(project.name, :length => 50), "/groups/#{project.group.permalink}/projects/#{project.name}"
      %span
        = link_to truncate(project.group.name, :length => 30), "/groups/#{project.group.name}"