%ul.projectsList.group    
  - projects.each do |project|
    %li
      = project_photo(project, true)
      %strong
        = link_to truncate(project.project_name, :length => 50), "/groups/#{project.group_permalink}/projects/#{project.project_permalink}"
      %span
        = link_to truncate(project.group_name, :length => 30), "/groups/#{project.group_permalink}"