.comment.cf
  %a.profile_photo{ href: "/user/#{user.id}"}= image_tag("#{user.photo}")
  .message
    = title.html_safe
    %p= comment
    = form_tag("#{form}") do

      .option_footer
        %span <a class='comment_link' href="#">Comment</a> -
        %abbr{ :title => "#{timestamp.strftime('%A, %B %e, %Y at %l:%M%P')}", :'data-date' => "#{timestamp.strftime('%a, %d %b %Y %H:%M:%S %z')}", :class => "timestamp livetimestamp"}= "#{time_ago_in_words(timestamp)} ago"

      = render :partial => 'timeline/nested_comments', :locals => { subevents: subevents }