= title "Conference"
= description ""

.row#conf
  %section.span16.columns

    %h1 2012 Say What! Texas Tobacco-Free Conference

    .section.top.cf
      %p The 2012 Say What! Texas Tobacco-Free Conference is a brand new training opportunity that will focus on taking your group to the next level in tobacco prevention.

      %p New, Cutting edge strategies on prevention and leadership – AND we're proud to announce our return to <a href="http://www.woodlandsresort.com/">The Woodlands Resort &amp; Conference Center</a>

      %ul.buttons.cf
        %li#scholarships
          %a{ href: "/documents/2012-SayWhat-Scholarship-Registration.pdf" } Scholarships Available
        %li#registration
          %a{ href: "/documents/2012-SayWhat-Registration.pdf" } Paid Registration

    .section.cf
      .block.left.span9.columns
        %p The Center for Disease Control and Prevention recognizes the importance of the role that youth play in a comprehensive tobacco control program. <a href="http://www.cdc.gov/tobacco/stateandcommunity/bp_userguide_youth/pdfs/youth_engagement.pdf">Youth Engagement</a>

        %p The Texas Department of State Health Services also recognizes the role that young people play in making lasting, environmental changes concerning tobacco prevention and control. Under their direction, the Texas School Safety Center has designed the 2012 Say What! Texas Tobacco-Free Conference to be the first ever, 100% youth focused tobacco prevention and control conference in the state of Texas.

        %p We are dedicated to bringing new, cutting edge strategies, information, tools, techniques concerning youth leadership and prevention to pass along to you. If you are part of a youth group working on tobacco-free policy, prevention related issues or other projects in your school or community, we invite you to join us for the elite training opportunity.

        %p This conference will focus on the Say What! youth movement and making sure that all <strong>S</strong>tudents, <strong>A</strong>dults and <strong>Y</strong>outh are prepared to <strong>W</strong>ork <strong>H</strong>ard <strong>A</strong>gainst <strong>T</strong>obacco!

      .heading.span7.columns
        = image_tag "conf/youth.jpg", alt: "Youth"


    .section.cf
      .heading.left.span7.columns
        = image_tag "conf/information.jpg", alt: "Information"

      .block.span9.columns
        %p Have you read the latest Surgeon General’s report on Preventing Tobacco Use Among Youth and Young Adults? <a href="http://www.surgeongeneral.gov/library/preventing-youth-tobacco-use/full-report.pdf">Full Report</a> about the Center for Disease Control and Prevention User Guide for Youth Engagement: State and Community Interventions Category?  <a href="http://www.cdc.gov/tobacco/stateandcommunity/bp_userguide_youth/pdfs/youth_engagement.pdf">Youth Engagement</a>

        %p Did you know that Texas only spends 2% of what the Center for Disease Control and Prevention recommends we spend on tobacco prevention, which ranks the state as number 39 in the nation? Or that the tobacco industry spends $622.4 million to advertise their deadly product in our great state alone?

        %p Despite the huge setback in funding and advertising, 78.8% of Texas high school students choose NOT to smoke. That’s right, not everyone is doing it! 

        %p The 2012 Say What! Texas Tobacco-Free Conference will focus on making sure you have the most recently released, up-to-date statistics for fighting the tobacco industry, addressing tobacco prevention and control issues and the local and state level, and preparing your group to Stand Up, Speak Up and Be Tobacco-Free no matter what.


    .section.cf
      .block.left.span9.columns
        %p We are looking for energetic, youth-focused, engaging speakers!

        %p If you are interested in presenting at the 2012 Say What! Texas Tobacco-Free Conference, please download the Call for Presenters application. We are looking for presenters who 1) have new, interesting and useful information about tobacco prevention; 2) will provide a useful tool or skill for youth participants to use; and 3) utilize a hands-on or active learning style of teaching to keep students engaged in the workshop.

        %p For questions about workshop sessions, please contact Ruby Moore at rm72@txstate.edu

      .heading.span7.columns
        = image_tag "conf/speakers.jpg", alt: 'Speakers'


    .section.cf
      .heading.left.span7.columns 
        = image_tag "conf/sessions.jpg", alt: "Sessions"

      .block.span9.columns
        %p The 2012 Say What! Texas Tobacco-Free Conference will focus on:

        %ul
          %li Youth Engagement
          %li Social Media and Networking
          %li Policy Advocacy
          %li Grassroots efforts
          %li Local and Statewide projects
          %li Youth and Adult Partnerships
          %li Highlighting youth work already happening
          %li Model programs from other states
          %li The 2013 Legislative Session
          %li Recently released research and statistics

        %p If you have an idea for a breakout session not listed above, or want to know more information about a specific tobacco prevention related topic, feel free to email Ruby Moore at rm72@txstate.edu

    
    .section.cf
      .block.left.span9.columns
        %p The 2012 Say What! Texas Tobacco-Free Conference will be 100% youth focused! Sessions will focus on youth engagement and empowerment, social media training, policy advocacy, local and statewide projects young people can be part of, skills development, and, most importantly, your role in the Say What! youth movement!

        %p We will post the 2012 Say What! Texas Tobacco-Free Conference agenda as soon as we finalize the details. Check back in early June!

      .heading.span7.columns
        = image_tag "conf/agenda.jpg", alt: "Agenda"
    

    .section.cf
      .heading.left.span7.columns
        = image_tag "conf/venue.jpg", alt: "Venue"

      .block.span9.columns
        %p We’re going back to The Woodlands!

        %p Mark your calendars now – <strong>July 22-25, 2012</strong> – the Say What! Texas Tobacco-Free Conference will be taking over The Woodlands Resort and Conference Center!

        %p Registered participants will have meals from Sunday dinner – Wednesday breakfast covered with plenty of snack in between! Reservations will be made for all participants for Sunday, Monday and Tuesday nights. All youth participants will be in rooms of 3-4 students (typically from the same group) and sponsors will be in rooms with one other sponsor.

        %p Check out some of the awesome features of this year’s conference site: <a href="http://www.woodlandsresort.com">woodlandsresort.com</a>

  