%section
  %h4 Basic Information

  %table
    %tbody
      %tr
        %td.label Location
        %td.data= @project.location
      %tr
        %td.label Dates
        %td.data= @project.start_date
      %tr
        %td.label Focus
        %td.data= @project.focus
      %tr
        %td.label Audience
        %td.data= @project.audience
      %tr
        %td.label About
        %td.data= @project.description