= title "All Projects"

%div#groupTop.group
  %h2.left
    All Projects

%div#projectFiltering
  = form_tag("/projects/filter", :method => "get") do
    %p.group
      = label_tag(:focus, "Focus")
      = select_tag(:focus, options_for_select(@options[:focus].map {|item| [item[0], item[1]]}))
      
    %p.group
      = label_tag(:audience, "Audience")
      = select_tag(:audience, options_for_select(@options[:audience].map {|item| [item[0], item[1]]}))
      
    %button.submit{:type => 'submit'}
      Filter

%ul#projectsList    
  - @projects.each do |project|
    %li
      = image_tag("http://placehold.it/200x100")
      %strong
        = link_to project.project_name, "/groups/#{project.group_permalink}/projects/#{project.project_permalink}"
      %span
        = link_to project.group_name, "/groups/#{project.group_permalink}"
      %span
        Focus:
        = project.focus
      %span
        Audience:
        = project.audience