= title "All Projects"

%div#groupTop.group
  %h2.left
    All Projects

%ul#projectsList    
  - @projects.each do |project|
    %li
      = image_tag("http://placehold.it/200x100")
      %strong
        = link_to project.project_name, "/groups/#{project.group_permalink}/projects/#{project.project_permalink}"
      %span
        = link_to project.group_name, "/groups/#{project.group_permalink}"