= title "Projects"

%div#groupTop.group
  %h2.left
    Projects

%ul#projectNav
  %li
    = link_to "everyone's projects", "/projects"
  %li
    = link_to "new project", "/groups/#{@group.permalink}/projects/new" if current_user.group == @group

= render 'group_projects', :projects => @projects