= title "Projects"

%div#projectStats
  %div.centeredWrap.group
    
    %h1
      Your Projects
      
    %ul#stats.group
      %li#completed
        %strong
          %span
            = @projects[:completed].count.to_s
        completed
      %li.people
        %strong
          %span
            = @group.youth_reached_tally
        youth reached
      %li.people
        %strong
          %span
            = @group.adults_reached_tally
        adults reached

- if current_user && current_user.group == @group        
  %div#projectStart
    %div.centeredWrap.group
      = link_to "start a new project", "/groups/#{@group.permalink}/projects/new", :class => "left"
      %p.big
        Do you have an awesome idea for your group?
      %p
        Start a project and begin planning it out with the help of other group members!
    
    
%div#groupProjects.centeredWrap.group

  = render 'group_projects', :projects => @projects