= title "New Project"

%div#projectHeader
  %div.centeredWrap.group
    %header.group
      %hgroup.left
        %h1
          New Project
        
%div#projectForm.centeredWrap.group
  
  = form_for [@group, @project], :url => "/groups/#{@group.permalink}/projects", :html => { :multipart => true} do |f|
    = errors_for(@project, "Opps, there were some problems creating your project").html_safe
    
    = render 'form', :f => f