= title "New Project"

%div#groupRequestForm
  
  %h2.pageTitle
    Create a new project
    
  = form_for [@group, @project] do |f|
  
    = errors_for(@project, "Opps, there were some problems creating your project").html_safe
        
    %p.group
      = f.label :name
      = f.text_field :display_name
    
    %p.group
      = f.label :location
      = f.text_field :location
    
    %p.group
      = f.label :start_date
      = f.date_select :start_date
    
    %p.group
      = f.label :end_date
      = f.date_select :end_date
    
    %p.group
      = f.label :description
      = f.text_area :description
    
    %button.submit{:type => 'submit'}
      Create Project
      
    