= title "Projects"
= description "The Say What! Movement was created and designed by more than 250 young people from across Texas to link to all high school groups in Texas who are actively working to eliminate tobacco from their schools and communities. By linking our efforts we have a unified voice to create change across the state."

.row
  %section.span9.columns
    %h2.heading Projects

    -  if @projects.size > 0
      :javascript
        $(function() {
          $("table.sortable").tablesorter({ sortList: [[1,0]] });
        });

      %table.sortable.zebra-striped
        %thead
          %tr
            %th Name
            %th Location
        %tbody
          - @projects.each do |project|
            %tr
              %td= link_to truncate(project.display_name, :length => 50), group_project_path(project.group.permalink, project)
              %td= project.location

    - else
      %div.alert-message.block-message.info
        %p <strong>Whoa there!</strong> It looks like no one has created any projects yet!

  %aside.span6.offset1.columns
    - if current_user
      - if current_user.group && current_user.group.active?
        %p Do you have an idea for a project? 

        %p If so you can apply for a mini-grant up to $500 to help make your idea reality.

        = link_to "Start A New Project", new_group_project_path(current_user.group.permalink), :class => "btn large primary"