= title @project.display_name
= description @project.description

.row#group_profile
  %section.span10#profile
    = project_page_header(@project).html_safe

    = render :partial => "content"

  %aside.span5.offset1
    .profile_photo.media.cf
      %a{ href: "#" }= image_tag(@project.profile_photo_url(:profile))

    = render :partial => "menu"