= title @project.display_name
= description @project.description

.row#group_profile
  %section.span10
    = project_page_header(@project).html_safe

    #activity_feed.timeline
      %h2.heading Activity Feed

      = render :partial => "timeline/timeline", :locals => { timeline: @timeline, section: 'project', composer: true, composer_path: group_project_comments_path(@group, @project) }

  %aside.span5.offset1
    .profile_photo.media.cf
      %a{ href: "#" }= image_tag(@project.profile_photo_url(:profile))

    %p= @project.description