= title @project.display_name

%div#groupTop.group
  %h2.left
    = @project.display_name
    %span
      = link_to @group.display_name, "/groups/#{@project.group.permalink}"

  - if current_user && (current_user.role == "adult sponsor" || current_user.role == "youth sponsor")
    = render :partial => "sponsor_actions" if current_user.group == @group
   
= image_tag(@project.profile_photo_url(:profile))
  
%ul  
  %li
    %strong
      Location:
    = @project.location
    
  %li
    %strong
      Date:
    = @project.start_date
    thru
    = @project.end_date
    
  %li
    %strong
      Focus of the Project:
    = @project.focus
    
  %li
    %strong
      Target Audience for the Project:
    = @project.audience

%p
  %strong
    Goal of the Project:
  = @project.goal
      
%p
  %strong
    Description:
  = @project.description

%p
  %strong
    Involves:
  = @project.involves
  

%div#comments
  %h2.sectionTitle
    Comments
  
  - if notice
    %p.notice
      = notice
        
  - if @comments
    %ul#comments
      - @comments.each do |comment|
        %li
          = image_tag(comment.user.avatar_url(:thumb))
          = comment.user.name
          %p
            = comment.comment
            - if comment.user == current_user
              = link_to "edit", {:controller => :comments, :action => :edit, :permalink => @group.permalink, :name => @project.name, :comment_id => comment.id.to_s}
            - if current_user.sponsor? && (current_user.group == @group)
              = link_to "delete", {:controller => :comments, :action => :destroy, :permalink => @group.permalink, :name => @project.name, :comment_id => comment.id.to_s}, :confirm => "Are you sure?", :method => :delete
  
  
  = form_for [@group, @project, @comment], :url => "/groups/#{@group.permalink}/projects/#{@project.name}/comments" do |f|
    
    - if alert
      %p.alert
        = alert
        
    = errors_for(@comment, "Opps, there were some problems adding your comment").html_safe

    %p.group
      = f.label :comment
      = f.text_area :comment

    %button.submit{:type => 'submit'}
      Leave Comment