= title @project.display_name

%div#projectHeader
  %div.centeredWrap.group
    %header.group
      %hgroup.left
        %h1
          = @project.display_name
        %h3
          = group_link(@group)
      
      - if current_user && (current_user.role == "adult sponsor" || current_user.role == "youth sponsor")
        = link_to "edit", "/groups/#{@group.permalink}/projects/#{@project.name}/edit", :class => "right" if current_user.group == @group
        

%div.centeredWrap

  = render :partial => "project_info"
  
  = render :partial => "project_sidebar"


