.section.span8.col1
  %h3 Sponsor

  .media.cf
    = link_to image_tag(@group.adult_sponsor.profile_photo_url(:thumb)), '#'

  .info.cf
    %p.cf
      %span.key Name:
      %span.value= @group.adult_sponsor.name

    %p.cf
      %span.key Email:
      %span.value= @group.adult_sponsor.email

.section.span8.col1
  %h3 Group Info

  .info.cf
    %p.cf
      %span.key Name:
      %span.value= @group.display_name

    %p.cf
      %span.key City:
      %span.value= @group.city

    %p.cf
      %span.key Org:
      %span.value= @group.organization

    %p.cf
      %span.key Permalink:
      %span.value= "/#{@group.permalink}"

    %p.cf
      %span.key Description:
      %span.value= @group.description