.block
  .secondary-navigation
    %ul.wat-cf
      %li.first <a href="/admin/group_requests">&laquo; back</a>
      
  .content
    %h2.title Pending Group Request
    .inner
      %table.table
        = form_for @group, :url => "/admin/group_requests/#{@group.id}", :method => :put do |f|
          = errors_for(@group, "Oops, there were some problems with your group information").html_safe
          
          = render :partial => "group", :locals => {:f => f}
          
          %p.group.formAction
            %button.approve.submit{:type => 'submit'} Approve
            |
            = link_to "Deny", "/admin/group_requests/deny_reasons", :id => "deny", :rel => "facebox"