%h3
  Sponsor Information 
  %span= link_to "assign new sponsor", "/admin/groups/#{@group.id.to_s}/choose_sponsor", :id => "choose_sponsor", :rel => "facebox"
    
%p.group
  %b Sponsor Name:
  = @sponsor.name
        
%p.group
  %b Sponsor Email:
  = @sponsor.email   

%h3 Group Information
              
%p.group
  %b= f.label :name
  = f.text_field :display_name
  
%p.group
  %b= f.label :city
  = f.text_field :city
  
%p.group
  %b= f.label :organization
  = f.text_field :organization
      
%p.group
  %b= f.label :esc_region
  = f.text_field :esc_region
      
%p.group
  %b= f.label :dshs_region
  = f.text_field :dshs_region
      
%p.group
  %b= f.label :area_of_state
  = f.text_field :area
  
%p.group
  %b= f.label :description
  = f.text_area :description