.header.group
  .th.user_name Name
  .th.user_email Email
  .th.user_group Group
  .th.user_role Role

.table  
  - @users.each do |user|
    .tr.group{:class => cycle("odd", "even")}
      .td.user_name= link_to user.name, "/admin/users/#{user.id.to_s}"
      .td.user_email= user.email
      .td.user_group= user.group.display_name if user.group
      .td.user_role= user.role.capitalize