= title "#{@project.display_name} Photos"
= description @project.description

.row#group_profile
  %section.span16
    = project_page_header(@project).html_safe

    #photo_gallery

      - if can? :create, @project.photos.new
        = render :partial => "form"

      %ul.photos.media.cf
        - @photos.each do |item|
          %li
            %a{ :href => "#{item.photo.url}", :class => "fancybox", :rel => "gallery" }= image_tag(item.photo_url(:index))