%div#session
  %div.relative
    - if current_user && current_user.status == "active"
  
      %span#profile-image= image_tag(current_user.avatar_url(:thumb), :width => 25, :height => 25)
      %span#screen-name= truncate(current_user.name, :length => 25)
  
      %div.dropdown
        %ul
          %li= link_to "Settings", "/settings/profile"
          %li= link_to "Mini-Grants", "/grants" if THEME['minigrant_app']
          %li= link_to "Downloads", "/resources/downloads" if THEME['static_resources'] 
          %li= link_to "Links/Campaigns", "/resources/links" if THEME['static_resources']
          %li= link_to "Sign out", destroy_user_session_path
        
    - else
      #loginAction= link_to "Login", new_user_session_path