%div.static-links
  - if current_user && current_user.status == "active"
    
    #allGroups.iconOption= link_to "All Groups", "/groups", :title => "All Groups"
    
    #allProjects.iconOption= link_to "All Projects", "/projects", :title => "All Projects"
    
    - if current_user.group 
      #myGroup.iconOption= link_to "My Group", "/groups/#{current_user.group.permalink}", :title => "My Group" 
    
    - if current_user.admin?
      #admin.iconOption= link_to "Admin", "/admin", :title => "Admin"
        
  - else

    #allGroups.iconOption= link_to "All Groups", "/groups", :title => "All Groups"
    #allProjects.iconOption= link_to "All Projects", "/projects", :title => "All Projects"