%div#mainNav.right.group

  %ul.group
    - if current_user && current_user.status == "active"
    
      %li#userTag.group
        = image_tag(current_user.avatar_url(:thumb), :width => 25, :height => 25)
        %strong
          = current_user.name
        
        = link_to "Edit Account", "/settings/profile"
      
      %li#allGroups.iconOption
        = link_to "All Groups", "/groups", :title => "All Groups"
        
      %li#allProjects.iconOption
        = link_to "All Projects", "/projects", :title => "All Projects"
        
      %li#myGroup.iconOption
        = link_to "My Group", "/groups/#{current_user.group.permalink}", :title => "My Group" if current_user.group
      
      %li#myMessages.iconOption
        = link_to "Inbox", "/messages", :title => "Inbox"
        
      %li#logoutAction
        = link_to "Logout", destroy_user_session_path
        
    - else
    
      %li#loginAction
        = link_to "Login", new_user_session_path