%div#mainNav.right.group

  %ul.group
    - if current_user && current_user.status == "active"
    
      %li#userTag.group
        = image_tag(current_user.avatar_url(:thumb), :width => 25, :height => 25)
        %strong
          = current_user.name
        
        = link_to "Edit Account", "/settings/profile"
      
      %li#allGroups.iconOption
        = link_to "All Groups", "/groups", :title => "All Groups"
        
      %li#allProjects.iconOption
        = link_to "All Projects", "/projects", :title => "All Projects"
      
      - if current_user.group  
        %li#myGroup.iconOption
          = link_to "My Group", "/groups/#{current_user.group.permalink}", :title => "My Group"
      
      - if current_user.admin?
        %li#admin.iconOption
          = link_to "Admin", "/admin", :title => "Admin"
      
      %li#myMessages.iconOption
        %a{:href => "/messages", :title => "Inbox"}
          Inbox
          - if current_user.messages.unread.count > 0
            %span.counter
              = current_user.messages.unread.count
        
      %li#logoutAction
        = link_to "Logout", destroy_user_session_path
        
    - else
    
      %li#loginAction
        = link_to "Login", new_user_session_path