%p.right.group
  - if current_user && current_user.status == "active"
    = image_tag(current_user.avatar_url(:thumb))
    %strong
      = link_to current_user.name, "/settings/profile"
      |
      = link_to "My Group", "/groups/#{current_user.group.permalink}" if current_user.group
      |
      = link_to "Logout", destroy_user_session_path
  - else
    %strong
      = link_to "Login", new_user_session_path