!!!
!= cc_html(:lang => 'en') do
  %head
    %meta{"http-equiv"=>"Content-Type", :content=>"text/html; charset=utf-8"}
    
    %title
      = "SayWhat / #{yield(:title)}"
 
    = stylesheet_link_tag 'application', :media => :screen
    = stylesheet_link_tag 'flick/jquery-ui-1.8.8.custom.css', :media => :screen
    = javascript_include_tag "/js/modernizr-1.5.min.js"
    = javascript_include_tag "/js/head.load.min.js"
    
    %script
      head.js(
      "http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js",
      "/js/jquery-ui-1.8.8.custom.min.js",
      "/javascripts/rails.js",
      "/js/functions.js");

    = csrf_meta_tag

  %body
    %div#wrap    
    
      = render :partial => "layouts/partials/header"
              
      %div#content.group
        = yield
          
    = javascript_include_tag "/js/iepngfix_tilebg.js"
    

    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', "#{THEME['ga_code']}"]);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script');
        ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    

        

  
    
    