!!!
!= cc_html(:lang => 'en') do
  %head
    %meta{"http-equiv" => "Content-Type", :content => "text/html; charset=utf-8"}
    %meta{"http-equiv" => "X-UA-Compatible", :content => "IE=edge,chrome=1"}

    %title= "SayWhat / #{yield(:title)}"

    %meta{:name => "description", :content => "#{yield(:description)}"}

    = stylesheet_link_tag 'application.css'
    = javascript_include_tag "application.js"

    // Typekit
    %script{ type: "text/javascript", src: "http://use.typekit.com/#{CONFIG['typekit_code']}.js" }

    :javascript
      try{Typekit.load();}catch(e){}

    = csrf_meta_tag

  %body.conference
    = render :partial => "layouts/partials/conf_header"

    %div.container.cf
      = flash_messages(flash).html_safe

      = yield

    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', "#{CONFIG['ga_code']}"]);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script');
        ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();