!!!
%html{:lang => I18n.locale.to_s}
  %head
    %meta{"http-equiv"=>"Content-Type", :content=>"text/html; charset=utf-8"}
    
    %title
      = "SayWhat / #{yield(:title)}"
 
    = stylesheet_link_tag 'application', :media => :screen
    
    = javascript_include_tag "/js/head.load.min.js"
    
    %script
      head.js(
      {jquery: "http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"},
      {rails: "/javascripts/rails.js"},
      {functions: "/js/functions.js"}
      );

    = csrf_meta_tag

  %body
        
    %header#pageHeader
      %div#innerHeader.group
        %h1.left
          SayWhat!
        
        = render :partial => "layouts/session_header"
              
    %div#content.group
      = yield
        
    
    